html,body{margin:0}
*{
    box-sizing: border-box;
}
img{vertical-align: top;}
a{text-decoration: none;}
span,b,i,em,strong,a{display:inline-block; text-transform:uppercase; list-style-type:none;} 
p{display:inline-block;}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Montserrat:wght@200&family=Playfair+Display:wght@500&display=swap');


header{
    padding:40px 3%;}

header > div{
    display:flex;
    justify-content: space-between;}

header > div .icon-right img{width:100%}

main{
    display:flex;
    justify-content:space-between;
    margin-top:1%;
}

main aside{
    width:12%;
    height:12%;
    text-transform:uppercase;
}

main aside .nav{
    font-size:15px;
    background-color:#E6C35D;
    text-align: center;
}




main aside ul {
    font-size:14px;
    text-align:left;
    padding:6%;
    list-style-type:none;
}

main aside ul li{
    margin-left:36%;
    margin-bottom:12%;
}

main aside .search{
    width:225px;
    height:50px;
    position:relative;
    margin-right:1%;
}
main aside .search input{
    width:100%;
    height:55%;
    border:none;
    box-shadow:5px 5px 20px #dbdbdb;
    border-radius:10px;
}

main aside .search a img{
    position:absolute;
    right:5px; top:0px;

}

.login{
    width:400px; height:550px;
    padding:40px;
    padding-left:12px;
    margin:100px auto;
    margin-left:500px;
    box-shadow:5px 5px 20px #dbdbdb;
    border:none;}


.login .text input{
    width:100%;
    margin:10px;
    padding:10px;
    font-size:14px;
    color:#767676;
    background-color: #fff;
    box-shadow:1px 1px 1px #dbdbdb;
    border:none;}

.login .keep{
    width:100%;
    margin:10px;
    font-size:13px;
    display: flex;
    justify-content:space-between;
    color:#767676;}


.login .vtn input{
    width:350px;
    margin:10px;
    height:50px;
    font-size:14px;
    font-weight:bold; color:#fff;
    background-color: #E6C35D;
    border:none;}


.login .sns {
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    margin-left:16px;}


.login .sns p{
    font-size:14px;
    color:#767676;
    text-align:center;
    text-transform:uppercase;
    margin-left:5px;
    margin-bottom:-5px;}

.login .sns a{
    padding:7px;
}

.login .vtn-2 input{
    width:350px;
    margin:10px;
    height:50px;
    font-size:14px;
    font-weight:bold; color:#767676;
    background-color: #fff;
    box-shadow:1px 1px 1px #dbdbdb;
    border:none;}

.login .order{
    text-align:center;
    font-size:14px;
    color:#767676;
}

.login .order a{
    color:#000;
    font-weight:bold;
}

footer {
    margin:3%;
    width:95%;
    white-space: pre-line;
    text-align: center;
    text-transform:capitalize;
    font-size: 12px; color:#767676;}

footer .menu{
    font-weight:bold;}