html,body{margin:0}
*{
    box-sizing: border-box; margin:0; padding:0;
}
img{vertical-align: top;}
a{text-decoration: none;}
span,b,i,em,strong,a,p,ul,li{display:inline-block; text-transform:uppercase; list-style-type:none;} 

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Montserrat:wght@200&family=Playfair+Display:wght@500&display=swap');




header{
    padding:40px 3%;}

header > div{
    display:flex;
    justify-content: space-between;}

header > div .icon2 img{width:100%}




main > .visual{
    background-color:#BAB7A4;
    background-size:1920px 800px;}

main > .visual > .slide-wrap{
    width:1100px;
    margin:0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
}
main > .visual > .slide-wrap > figure{
    position:absolute;
    left:0; top:0;
    transform: translate(-90%, 40%);
}

main > .visual .slide-wrap > .slide > figure{
    position: relative;
    border:25px solid white;
}
main > .visual .slide-wrap > .slide > figure > img{
    width:100%;
}
main > .visual .slide-wrap > .slide > figure > figcaption{
    position:absolute;
    right:0%; bottom:0%;}

main > .visual .slide-wrap > .slide > figure > figcaption > a{
    background-color:#E6C35D;
    padding:15px 30px;
    color:#000;
}

main >.visual .slide-wrap > .slide > figure > figcaption > a:hover{
    background-color: #DBDBDB;}

main .button{text-align: center;}

main .button > a{
    width:40px; height:5px;
    margin-top:40px;
    font-size:0px;
    display: inline-block;
    background-color: #DBDBDB;}

main .button > a:hover {
background-color: #E6C35D;}






main .visual-2 > div:nth-child(1){
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:120px;
}

main .visual-2 .minideco p{
    padding:15px;}


main .visual-2 .minideco figure{
    margin-top:5px;}

main .visual-2 .slide2{
    width:1620px;
    margin:10% auto;
    position:relative;
}

main .visual-2 .slide2 .slide-wrap2 .slide3{
    display:flex;
    justify-content:space-between;
    margin:10% auto;
}

main .visual-2 .slide2 .slide-wrap2 .slide3 figure{
    margin-left:75px;
}

main .visual-2 .slide2 .slide-wrap2 .slide3 ul{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin:40px;
}
main .visual-2 .slide2 .slide-wrap2 .slide3 ul li h1{
    font-size:128px;
    color:#53513D;
    margin-bottom:10px;}

main .visual-2 .slide2 .slide-wrap2 .slide3 ul li h2{
    font-size:22px;
    color:#53513D;
    margin-bottom:10px;
}

main .visual-2 .slide2 .slide-wrap2 .slide3 ul li h3{
    font-size:20px;
    color:#53513D;
    margin-bottom:40px;
}

main .visual-2 .slide2 .slide-wrap2 .slide3 ul li p{
    font-size:16px;
    color:#767676;}

main .visual-2 .slide2 .slide-wrap2 .slide3 .slide-ul a{
    margin-top:100px;
    padding:17px 65px;
    background-color: #E6C35D;
    font-size:15px;
    color:#000;}

main .visual-2 .slide2 .slide-wrap2 .slide3 .slide-ul a:hover{
    background-color: #DBDBDB;}



main .visual-2 .slide2 .button2{
    position:absolute;
    top:25%; width:102%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

main .visual-2  .slide2 .title{
    display:flex;
    justify-content:left;
    margin:5%; padding:0 auto;
}

main .visual-2  .slide2 .title span{
    font-size:0;
    background-color:#E6C35D;
    padding:8px 8px 8px 8px;
}

main .visual-2  .slide2 .title b{
    font-size:18px;
}

main .visual-2  .slide2 .title p{
    font-size:18px;
}

main .visual-2  .slide2 .slide-wrap3{}




