html,body{margin:0}
*{
    box-sizing: border-box; margin:0; padding:0;
}
img{vertical-align: top;}
a{text-decoration: none;}
span,b,i,em,strong,a{display:inline-block; text-transform:uppercase; list-style-type:none;} 

@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+SC:wght@700&family=Montserrat:wght@200&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Cormorant+SC:wght@700&family=Montserrat:wght@100;200&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&family=Cormorant:wght@400;700&family=Montserrat:wght@100;200&family=Playfair+Display:wght@500&display=swap');

header{
    padding:40px 3%;}

header > div{
    display:flex;
    justify-content: space-between;}

header > div .icon-right img{width:100%}




main > .visual{
    background-color:#BAB7A4;
    background-size:1920px 800px;}



main > .visual > .slide-wrap{
    width:1100px;
    margin:0 auto;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
}



main > .visual > .slide-wrap > figure{
    position:absolute;
    left:0; top:0;
    transform: translate(-90%, 40%);
}



main > .visual .slide-wrap > .slide > figure{
    position: relative;
    border:25px solid white;
    transition: 0.8s;
}



main > .visual .slide-wrap > .slide > figure > img{
    width:100%;
}
main > .visual .slide-wrap > .slide > figure:hover{
transform:scale(1.1);}

main > .visual .slide-wrap > .slide > figure > figcaption{
    position:absolute;
    right:0%; bottom:0%;}




main > .visual .slide-wrap > .slide > figure > figcaption > a{
    background-color:#E6C35D;
    padding:15px 30px;
    font-size:14px;
    color:#000;
}



main >.visual .slide-wrap > .slide > figure > figcaption > a:hover{
    background-color: #DBDBDB;}





main .button{text-align: center;
margin-top:20px;}




main .button > a{
    width:40px; height:5px;
    margin-top:40px;
    font-size:0px;
    display: inline-block;
    background-color: #DBDBDB;}




main .button > a:hover {
background-color: #E6C35D;}





main .visual-2{
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items:center;
    margin:5%;
}

main .visual-2 figure{
    margin-bottom:10px;
}

main .contents{
    width:1620px;
    margin:0 auto;
    position:relative;
}

main .contents .slide-2{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
main .contents .slide-2 > img{
    width:55%;
}
main .contents .slide-2 img:hover{
    opacity:.8;
}

main .contents .slide-2 .text{
    width:40%;
}
main .contents .slide-2 .text > strong{
    font-size:128px; color:#53513D;
}
main .contents .slide-2 .text > p{
    white-space:pre-line;}

main .contents .slide-2 .text > p:nth-child(2){
    font-size:20px;
    color:#53513D;
    margin-top:10px;
    font-weight:bold;
}
main .contents .slide-2 .text > p:nth-child(3){
    font-size:16px;
    color:#767676;
    margin-top:10px;
    font-weight:normal;}


main .contents .slide-2  .text > a{
    background-color:#E6C35D;
    margin-top:85px; padding:20px 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#000;
}

main .contents .slide-2  .text > a:hover{
    background-color:#DBDBDB;}


main .contents .btn a:nth-child(1){
    position:absolute;
    left:-50px; top:50%;
    
}
main .contents .btn a:nth-child(2){
    position:absolute;
    right:-50px; top:50%;
}



main .contents-2 {
    width:1620px;
    margin:0 auto;
}

main .contents-2 .title{
    width:1620px;
    margin-top:10%;
}

main .contents-2 .title span:nth-child(1){
    font-size:0;
    background-color: #E6C35D;
    padding:10px 10px;
}

main .contents-2 .title strong{
    font-size:20px;
}

main .contents-2 .title span{
    font-size:14px; color:#767676;
}


main .contents-2 .product .top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:1%;
    margin-bottom:1%;}

main .contents-2 .product .top p{
    font-size:16px;
    color:#767676;
    font-weight:normal}

main .contents-2 .product .top span{
    font-size:18px;
    color:#53513D;
    font-weight:bold;
}

main .contents-2 .product .top a:hover{
    opacity:.8;
}

footer {
    text-align: center;
    text-transform:capitalize;
    font-size: 12px; color:#767676;
    margin-bottom:3%;}

footer .menu{
    margin-top:10%;
    font-weight:bold;}